<ul class="govuk-list">
  {% for item in site.data.navigation %}
    <li>
      {% if page.url == item.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ item.url }}" class="govuk-link">{{ item.title }}</a>
      {% endif %}

      {% if item.children %}
        <ul class="govuk-list govuk-list--bullet">
          {% for child in item.children %}
            <li>
              {% if page.url == child.url %}
                {{ child.title }}
              {% else %}
                <a href="{{ child.url }}" class="govuk-link">{{ child.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
